.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 15px 0px;
}

.title-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    width: 63rem;
}

.toolbar-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 58rem;
}

.searchbar-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 36.4rem;
    /*padding: 15px 0px;*/
}

.widgets-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: right;
}

