bcrypt==3.1.7
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
Click==7.0
colorama==0.4.3
coverage==5.0.3
dnspython==1.16.0
eventlet==0.25.1
Flask==1.1.1
Flask-Cors==3.0.8
Flask-SocketIO==4.2.1
green==3.1.0
greenlet==0.4.15
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.1
lxml==4.5.0
MarkupSafe==1.1.1
marshmallow==3.4.0
monotonic==1.5
peewee==3.13.1
psycopg2==2.8.4
pycparser==2.19
python-engineio==3.11.2
python-socketio==4.4.0
pytz==2019.3
requests==2.23.0
six==1.14.0
Unidecode==1.1.1
urllib3==1.25.8
Werkzeug==1.0.0
