bcrypt==3.1.7
cffi==1.14.0
Click==7.0
colorama==0.4.3
coverage==5.0.3
Flask==1.1.1
Flask-Cors==3.0.8
green==3.1.0
itsdangerous==1.1.0
Jinja2==2.11.1
lxml==4.5.0
MarkupSafe==1.1.1
marshmallow==3.4.0
peewee==3.13.1
psycopg2==2.8.4
pycparser==2.19
pytz==2019.3
six==1.14.0
Unidecode==1.1.1
Werkzeug==1.0.0
